<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Todo</title>

    <meta name="description" content="A todo application written in Rocket.">
    <meta name="author" content="Christian Sakai">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
